

.box1 {

    /* Задай ширината и височината на всеки box на 200px. */
    
    width: 200px;
    height: 200px;
        /* Назначи различен цвят на заден план на всеки box. */
    background-color: aqua;
    /*Добави рамка на всеки box с различни стилове, цветове и ширини.*/
    border: solid 10px rgb(93, 16, 225);
    /*Приложи различни количества падинг и маргин на всеки box.*/
    padding: 5px;
    margin: 7px;
    /*Разположи кутиите хоризонтално на страницата.
    Експериментирай с различни комбинации от маргини и падинги, за да видиш как те влияят върху оформлението.*/
    display: inline-block;

}

.box2 {

    /* Задай ширината и височината на всеки box на 200px. */
    width: 200px;
    height: 200px;
    /* Назначи различен цвят на заден план на всеки box. */
    background-color: rgb(69, 211, 143);
    /*Добави рамка на всеки box с различни стилове, цветове и ширини.*/
    border: dotted 15px salmon;
    /*Приложи различни количества падинг и маргин на всеки box.*/
    padding: 6px;
    margin: 20px;
    /*Разположи кутиите хоризонтално на страницата.
    Експериментирай с различни комбинации от маргини и падинги, за да видиш как те влияят върху оформлението.*/
    display: inline-block;

}

.box3 {

    /* Задай ширината и височината на всеки box на 200px. */
    width: 200px;
    height: 200px;
   /* Назначи различен цвят на заден план на всеки box. */
    background-color: rgb(235, 235, 85);
   /*Добави рамка на всеки box с различни стилове, цветове и ширини.*/
   border: dashed 18px rgb(7, 163, 236);
   /*Приложи различни количества падинг и маргин на всеки box.*/
   padding: 7px;
   margin: 9px;
   /*Разположи кутиите хоризонтално на страницата.
   Експериментирай с различни комбинации от маргини и падинги, за да видиш как те влияят върху оформлението.*/
   display: inline-block;
   
}











